.dashboard__row {
    width: 100%;
    padding: .8em;
    display: flex;
    justify-content: center;
}


/* Definitely a better way to do this than these media queries */
@media screen and (min-width: 1825px) {
    .dashboard__split {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .data-card__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .map-data--container {
        width: 36vw;
        padding-right: 5em;
    }
}

@media screen and (max-width: 1825px) {
    .dashboard__split {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .data-card__container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
    }
}

@media screen and (max-width: 1340px) {
    .data-card__container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }
} 

 @media screen and (max-width: 900px) {
    .data-card__container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 18% 18% 18% 18% 18%;
        margin-bottom: 10em;
    }
}

@media screen and (max-width: 1825px) {
    .crash-counties-list.crash-counties-list {
        max-height: 33.6em;
        margin-top: 1.1em;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1340px) {
    .crash-counties-list.crash-counties-list {
        max-height: 28.1em;
        margin-top: 1em;
        overflow-y: auto;
    }
} 

@media screen and (max-width: 900px) {
    .crash-counties-list.crash-counties-list {
        max-height: 30.6em;
        margin-top: 1em;
        overflow-y: auto;
    }
}

.crash-counties-list {
    max-height: 40.6em;
    margin-top: 1.1em;
    overflow-y: auto;
}


.graph-data-card{
    width: 23%; /* Takes the full width of its container */
    height: auto; /* Adjust height as necessary */
    margin-bottom: 1em; /* Adds space below each card */
}


@media screen and (max-width: 1825px) {
    .crash-counties.crash-counties {
        max-height: 18.6em;
        margin-top: 1.1em;
        overflow-y: auto;
    }
}

@media screen and (max-width: 1340px) {
    .crash-counties.crash-counties {
        max-height: 28.1em;
        margin-top: 1em;
        overflow-y: auto;
    }
} 

@media screen and (max-width: 900px) {
    .crash-counties.crash-counties{
        max-height: 30.6em;
        margin-top: 1em;
        overflow-y: auto;
    }
}

.crash-counties {
    max-height: 40.6em;
    margin-top: 1.1em;
    overflow-y: auto;
}

.counties-with-bar {
    padding: 5px;
}


.counties-and-percentage{
    display: flex;
}

.percentage{
    margin-left: auto;
}

.header-title{
    
    padding-top: 14px;
    font-weight: bold;
}