.dashboard__row {
    width: 100%;
    padding: .8em;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1025px) {
    .dashboard__split {
        width: 60em;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1025px) {
    .dashboard__split {
        width: 20em;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
