
.congestion-main-container{
    --background: #015990;
}

.congestion-header-title{
    padding-top: 0.25em;
    font-weight: bold;
    color: aliceblue;
}


.congestion-data-card-icon {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--ion-color-blue);
    margin-left: auto;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for background and shadow changes */
    cursor: pointer; /* Indicates it is clickable */
}

.congestion-data-card-icon:hover{
    background-color: rgb(31, 24, 220);
}



.congestion-data-card-title{
    display: flex;
    background-color:#004068;
    padding: 10px;
}


.congestion-gauge-container{
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 14em;

   
}

.pti-tti{
    margin-left: 0.5em;
    margin-top: 3em;
    color: antiquewhite;
}

.pti{
    display: flex;
    margin: 5px;
    
}

.tti{
    display: flex;
    margin: 5px;
}

.pti-circle{
    margin-top: 3px;
}

.tti-circle{
    margin-top: 3px;
}

.crashes-title{
    display: flex;
    justify-content: center;
}

.crashes-counties-with-bar {
    padding: 0.5em;
}


.crashes-counties-and-percentage{
    display: flex;
    color: aliceblue;
}

.percentage{
    margin-left: auto;
}


.crash-counties {
    max-height: 15.6em;
    margin-top: 1.1em;
    overflow-y: auto;
}




.crash-last-updated{
    display: flex;
    justify-content: center;
    padding: 0.25em;
    background-color: #004068;
    color: aliceblue;
}

.congestion-gauge-container .css-m88e9q-MuiGauge-container text{
    fill: rgba(252, 251, 251, 0.87) !important;
}