.data-card {
    width: 30em;
    height: 20em;
    padding: 1em;
    font-family: 'Inter', sans-serif;
}

.data-card__data {
    width: 100%;
    height: 100%;
    font-size: 4em;
}

.data-card__title {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
}

.data-card__date {
    position: absolute;
    bottom: 1em;
    font-size: 1.5em;
}

.data-card__col {
    display: flex;
    justify-content: center;
}

.data-card__icon {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.hover-column {
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  }
  
  .hover-column:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff; /* Change to your desired background color on hover */
    color: #000000; /* Change to your desired text color on hover */
  }
  

.icon__green {
    background-color: var(--ion-color-green);
}

.icon__yellow {
    background-color: var(--ion-color-yellow);
}

.icon__red {
    background-color: var(--ion-color-red);
}

.icon__blue {
    background-color: var(--ion-color-blue);
}

.icon__neutral {
    background-color: var(--ion-color-light);
}

.bigger-alert{
   
    --max-width: auto !important; /* or max-width: auto; */
}
  